@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>
    This is an ASP.NET Core site that shows off Migrations.
</h1>
<p>
    Have a look at:
    <ul>
        <li>Startup.cs - where we setup Migrations</li>
        <li>/Migrations folder - where some sample migrations live</li>
    </ul>
</p>
