@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>
    This is an ASP.NET Core site that shows off Migrations.
</h1>
<p>
    Have a look at:
    <ul>
        <li><a href="https://github.com/JudahGabriel/RavenMigrations/blob/master/Raven.Migrations.Sample/Startup.cs#L47" target="_blank">Startup.cs</a> - where we setup Migrations</li>
        <li><a href="https://github.com/JudahGabriel/RavenMigrations/tree/master/Raven.Migrations.Sample/Migrations" target="_blank">/Migrations folder</a> - where some sample migrations live</li>
    </ul>
</p>
